body {
  background: #121212;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.box {
  width: 600px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}

textarea, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

textarea {
  height: 120px;
  background: #111;
  color: white;
}

button {
  background: #6a00ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #8a2bff;
}

#result {
  margin-top: 20px;
}
